@import "tailwindcss";

@theme {
  --color-primary: #F8B195;
  --color-secondary: #F67280;
  --color-accent: #C06C84;
  --color-muted: #6C5B7B;
  --color-dark: #355C7D;
}

:root {
  --background: #355C7D;
  --foreground: #F8B195;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
